#container {
	/* shadow effect to border */
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
	margin: 100px auto;
	width: 360px;
	background: #f7f7f7;
	
}

.done {
	text-decoration: line-through;
	color: red;
}

h1{
	background: #2980b9;
	color: white;
	margin: 0;	
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus{
	float: right;
}

ul {
	/* Remove bullet point */
	list-style: none;
	margin: 0;
	padding: 0;

}

body {
	font-family: Roboto;

	background: #3D7EAA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #3D7EAA , #FFE47A); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #3D7EAA , #FFE47A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        
        
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:hover span {
	width: 40px;	
	opacity: 1.0;
}

li:nth-child(2n){
	/* The :nth-child(n) selector matches every element that is the nth child, regardless of type, of its parent.

n can be a number, a keyword, or a formula */
	background: #f7f7f7;
}

input {
	color: #2980b9;
	font-size: 18px;
	background-color: #f7f7f7; 
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);

}

input:focus { /* Select and style an input field when it gets focus */
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}